.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.nav-text {
  color: white;
  width: 100%;
  padding-left: 30px;
  font-size: large;
}

.navbar {
  background-color: #252330;
  padding: 10px;
  width: 100%;
  display: flex;
}

.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  font-size: large;
  color: #ffffff;
}

.footer-links {
  padding-right: 70px;
  color: white;
}

.head-text{
  padding-left: 30px;
  color: white;
  min-width: 230px;
  width: 1030px;
  
}



html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -65px;
}

.footer {
  height: 65px;
}



.footer {
  background-color: #252330;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.content {
  margin-top: 30px;
  text-align: center;
  min-height: 614px;
}

.hero-align {
  display: flex;
}

.hero-image {
  min-width: 300px;
  width: 90%;
  height: 590px;
  /* object-fit: cover; */
  margin-bottom: 20px;
}
.home-hero-text {
  margin: auto;
}

.hero-text {
  font-size: 24px;
  margin-bottom: 20px;
}
.hero-text-by {
  padding-bottom: 15px;
  text-align: end;
  font-size: medium;
}

.btn-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #252330;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.report-div {
  padding-top: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-submit {
  padding: 10px 20px;
  background-color: #252330;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-div {
  margin-bottom: 80px;
}

.result-card {
  background-color: #252330;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-card p {
  margin: 8px 0;
  text-align: left;
}

.result-card b {
  font-weight: bold;
}

.result-card p:first-child {
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}

.result-card p:last-child {
  margin-bottom: 0px;
}

.btn-close {
  padding: 5px 10px;
  background-color: #252330;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Product-page {
  margin-bottom: 50px;
}

.guide-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  /* height: 50%; */
  width: 200px;
  padding: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 5px;
 margin-right: 10px;
}

.price-filter {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.price-input {
  width: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
}

.sort-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 5px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.product-card {
  background-color: #dadada;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #000000;
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  background-color: #c4c4c4; 
  transform: translateY(-5px);
}

.product-image {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.product-image img {
  max-width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.product-details {
  flex-grow: 1;
  font-weight: bold;
}

.product-name {
  font-size: 16px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 14px;
  margin-bottom: 10px;
}

.bookmark-btn {
  width: 24px;
  height: 24px;
  background-image: url('./images/bookmark-icon.png');
  background-size: cover;
  cursor: pointer;
}

.bookmarked {
  background-image: url('./images/bookmarked-icon.png');
}

.fix-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.whatsapp-icon {
  width: 25px;
  height: 25px;
}


